@font-face {
  font-family: 'alice';
  src: url('/fonts/alice.ttf') format('truetype');
}
@font-face {
  font-family: 'clip';
  src: url('/fonts/clip.ttf') format('truetype');
}
@font-face {
  font-family: 'still-time';
  src: url('/fonts/stilltime.ttf') format('truetype');
}
