$Stitches-colors: ('white' 'red' 'blue' 'green' 'pink');
$Stitches-width: 40px;
$Stitches-height: 20px;

$Stitches--small-width: 20px;
$Stitches--small-height: 10px;

.Stitches {
  position: absolute;
}

@each $color in $Stitches-colors {
  .Stitches.top.#{$color},
  .Stitches.bottom.#{$color} {
    background-image: url("/images/stitches/#{$color}-bottom.png");
  }

  .Stitches.right.#{$color},
  .Stitches.left.#{$color} {
    background-image: url("/images/stitches/#{$color}-left.png");
  }
}

.Stitches.top,
.Stitches.bottom {
  z-index: 2;
  width: 100%;
  height: $Stitches-height;

  background-repeat: repeat-x;
  background-size: $Stitches-width $Stitches-height;

}

.Stitches.small.top,
.Stitches.small.bottom {
  height: $Stitches--small-height;

  background-size: $Stitches--small-width $Stitches--small-height;
}

.Stitches.left,
.Stitches.right {
  z-index: 3;

  width: $Stitches-height;
  height: 100%;

  background-repeat: repeat-y;
  background-size: $Stitches-height $Stitches-width;
}

.Stitches.small.left,
.Stitches.small.right {
  width: $Stitches--small-height;

  background-size: $Stitches--small-height $Stitches--small-width;
}

.Stitches.top {
  top: 0;
  left: 0;
}

.Stitches.right {
  top: 0;
  right: 0;
}

.Stitches.bottom {
  bottom: 0;
  left: 0;
}

.Stitches.left {
  top: 0;
  left: 0;
}

.Stitches.right {
  transform: scaleX(-1);
}

.Stitches.top {
  transform: scaleY(-1);
}

.Stitches.out.top {
  transform: translateY(-100%);
}

.Stitches.out.bottom {
  transform: translateY(100%) scaleY(-1);
}

.Stitches.out.left {
  transform: translateX(-100%) scaleX(-1);
}

.Stitches.out.right {
  transform: translateX(100%);
}
