$Announcement-anim-duration: 2s;

.Announcement {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Announcement-talk,
.Announcement-tweet {
  max-width: 70%;
}

.Announcement-header {
  font-size: 30px;
  font-weight: bold;
  color: #555;
  margin-bottom: 20px;
}
