@import "./../style/theme";

.Talk {
  max-width: 100%;
  font-family: $font-family-serif;
}

.Talk-speakerPhoto {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  margin-right: 50px;
  flex-shrink: 0;
}

.Talk-multiplePhotos {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.Talk-speakerPhotoSmall {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
}

.Talk-title {
  font-family: clip;
  font-size: 36px;
  font-weight: bold;
  color: #ffcff7;
  margin-bottom: 20px;
  text-align: left;
  white-space: nowrap;
}

.Talk-info {
  padding-left: 40px;
}

.Talk-speakers {}

.Talk-speaker {
  display: inline-block;

  &:not(:first-child) {
    margin-left: 40px;
  }
}

.Talk-speakerName {
  display: block;
  font-family: still-time;
  font-size: 32px;
  color: #fad691;
  text-shadow: 0 0 20px #fad691;
}

.Talk-speakerTwitter {
  display: block;
  font-family: clip;
  font-size: 20px;
  line-height: 28px;
  color: #fad691;
  text-shadow: 0 0 5px #fad691;
}

.Talk-time {
  color: #ffffff;
  font-size: 30px;
}
