.Talk {

}

.Talk-speakerPhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.Talk-multiplePhotos {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.Talk-speakerPhotoSmall {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
}

.Talk-title {
  font-size: 40px;
  font-weight: bold;
  color: #555;
  margin-bottom: 20px;
}

.Talk-speaker {
  font-size: 30px;
  color: #555;
}

.Talk-twitter {
  font-size: 30px;
  color: #2aa7f0;
  font-weight: bold;
  margin-left: 50px;
}

.Talk-time {
  color: #ce6261;
  font-size: 30px;
  margin-left: 50px;
}
