.Tweet {
  .tweet {
    background-color: transparent!important;
    border-bottom: none !important;
  }

  .tweet-timestamp,
  .tweet .footer {
    display: none !important;
  }

  * {
    font-family: 'brandon-grotesque' !important;
  }
}

.Tweet.large {
  .content {
    margin-left: 190px !important;
  }

  .avatar {
    width: 150px !important;
    height: 150px !important;
    margin-left: -190px !important;
  }

  .fullname,
  .username {
    font-size: 42px !important;
    line-height: 1.3em !important;
  }

  .tweet-text {
    padding-top: 20px !important;
    font-size: 42px !important;
    line-height: 1.2em !important;
  }

  .emoji {
    height: 40px !important;
  }

  .AdaptiveMedia-photoContainer {
    max-height: 300px !important;

    img {
      width: auto !important;
      max-height: 300px !important;
    }
  }
}

.Tweet:not(.large) {
  margin-bottom: 20px;

  .fullname,
  .username {
    font-size: 24px !important;
    line-height: 1.3em !important;
  }

  .tweet-text {
    font-size: 28px !important;
    line-height: 1.2em !important;
  }

  .emoji {
    height: 20px !important;
  }

  .AdaptiveMedia-photoContainer {
    max-height: 100px !important;

    img {
      width: auto !important;
      max-height: 100px !important;
    }
  }

  &:not(:last-child):after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background-image: url('/images/plants/separator@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0;
  }
}
