.Wall {
  overflow: hidden;
  height: 100%;
}

.Wall-twitter {
  display: flex;
  flex-direction: row;
  position: relative;

  overflow: hidden;

  height: calc(100% - 400px);
}

.Wall-announcements {
  height: 400px;
}

.Wall-main {
  flex-basis: 100%;
  padding: 40px;

  display: flex;
  flex-direction: column;
}

.Wall-logo {
  padding-bottom: 20px;

  img {
    height: 60px;
  }
}

.Wall-sidebar {
  flex-basis: 30%;
  overflow: hidden;
  background-color: lighten(#fd7d57, 30%);
  padding: 80px 80px 80px 40px;
}
