$Wall-social-height: 60vh;
$Wall-sidebar-width: 30vw;

.Wall {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.Wall-social {
  position: relative;
  width: 100%;
  height: $Wall-social-height;

  overflow: hidden;
}

.Wall-logo,
.Wall-highlight {
  width: auto;
  margin-right: $Wall-sidebar-width;
}

.Wall-logo {
  height: $Wall-social-height * .4;
  padding-top: 40px;
  padding-bottom: 80px;

  img {
    height: 60px;
  }
}

.Wall-highlight {
  height: .7 * $Wall-social-height;
  padding: 40px;
  overflow: hidden;
}

.Wall-stream {
  position: absolute;
  top: 0;
  right: 0;
  width: $Wall-sidebar-width;
  height: $Wall-social-height;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: lighten(#fd7d57, 30%);
  padding: 80px 80px 80px 40px;
}

.Wall-announcements {
  width: 100%;
  height: 100vh - $Wall-social-height;
}
