.Wall {
  overflow: hidden;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.Wall-twitter {
  display: flex;
  flex-direction: row;
  position: relative;

  overflow: hidden;
}

.Wall-main {
  flex-basis: 70%;
  padding-right: 50px;
  padding: 80px 0px 80px 80px;

  display: flex;
  flex-direction: column;
}

.Wall-logo {
  padding-bottom: 60px;

  img {
    height: 90px;
  }
}

.Wall-announcements {
  flex-grow: 1;
}

.Wall-sidebar {
  flex-basis: 30%;
  overflow: hidden;
  background-color: white;
  padding: 80px 80px 80px 40px;
}
