@import "./style/theme";

$App-bg-color: #081340;

.App {
  height: 100%;

  text-align: center;
  background-color: $App-bg-color;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
